@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  background: white;
  color: #282828;
  font: 16px/1.5 Arial, sans-serif;
}

.no-outline {
  text-shadow: none !important;
}

code {
  font-family: Menlo, Monaco, Consolas, 'courier new', monospace, serif;
  font-size: 1em;
}

blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  padding: 8px 20px;
  border-left: 2px solid rgba(192, 192, 192, 0.45);
}


.container {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 700px;
}

p {
  text-align: center;
  margin-bottom: 32px;
}

.regular,
.nice {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 0 2%;
}

.regular {
  text-align: right;
}

.nice {
  text-align: left;
}

.reload { font-family: Lucida Sans Unicode }

button {
  font: 16px/1 Arial, sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
}

footer {
  font-size: 14px;
  color: #999;
}